.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body {
    background-color: #282c35;
    font-family: Verdana;
    font-weight: 600;
  }


  .card {
    flex: 1 17%;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.7); */
    color: black;
    width: 20vh;
    height: 10vh;

    vertical-align: middle;
    background: #DDD;
    border-radius: 10px;
    width: 120px;
    height: 80px;
    line-height: 75px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-weight: 600;

    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
  }

  * {
    box-sizing: border-box;
  }

  .button {
    font-size: 0.875rem;
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  
  .button-outline:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
  }
  
  .button-outline {
    border: 1px solid rgba(255, 255, 255, 0.23);
        padding: 5px 15px;
  
        color: #fff;
    padding: 9px 20px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }
/* deprecated */
  /* .topcard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .topbar {
    width: 640px;
    /* Can be in percentage also. 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  } */

  /* .child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 0px;
    font-size: 20px;
    line-height: 20px;
    color: #ffe8c3;
    /* b ackground-color: #eab768; */
    /* These were  10
    border-radius: 0px;
    border: 0px solid #f5cc8b;
  } */